@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Roboto+Mono:wght@300;400&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

input {
  accent-color: #ccffff;
}

body {
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, right top, from(#bbd2c5), to(#536976));
  background: linear-gradient(to right, #bbd2c5, #536976);
}

.spinner-btn {
  background-color: #fff;
  text-align: center;
  font-size: 1.2rem;
  border: 0;
  outline: none;
  cursor: pointer;
  font-family: "Roboto mono", monospace;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  width: 95vw;
  max-width: 700px;
  border: 4px solid #ffad9e;
  padding: 2rem;
  border-radius: 4px;
  background: -webkit-gradient(linear, left top, right top, from(#16222a), to(#3a6073));
  background: linear-gradient(to right, #16222a, #3a6073);
  color: white;
  -webkit-box-shadow: 0 4px 10px #525252;
          box-shadow: 0 4px 10px #525252;
}

.container h1 {
  text-align: center;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 1.85rem;
  background: linear-gradient(135deg, #74ebd5, #acb6e5);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container .password-display {
  width: 90%;
  background: white;
  margin: 1rem auto 2.3rem auto;
  border-radius: 2px;
  color: #333;
  position: relative;
}

.container .password-display .password {
  height: 100%;
  width: 100%;
  padding: 1rem 4.25rem 1rem 1rem;
  border: 0;
  outline: none;
  font-family: "roboto mono", monospace;
  text-align: center;
  font-size: 1.25rem;
  border-radius: 3px;
}

.container .password-display .clipboard {
  position: absolute;
  right: 0%;
  bottom: 0%;
  height: 100%;
  width: 4rem;
  cursor: pointer;
  background: #ccffff;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.container .password-display .clipboard:hover > i {
  color: #ffb3d5;
  font-size: 1.4rem;
}

.container .password-display .bi-clipboard-plus {
  color: #525252;
  font-size: 1.25rem;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  pointer-events: none;
}

.form {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form .length {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  margin-bottom: 0.8rem;
  font-size: 1.06rem;
}

.form .length .select-length #character-amount-number {
  text-align: center;
  padding: 0.25rem 0.1rem;
  border: none;
  outline: none;
  font-family: "Roboto Mono", monospace;
  font-size: 1rem;
  width: 1.5rem;
}

.form .length .select-length #character-amount-number::-webkit-inner-spin-button, .form .length .select-length #character-amount-number::-webkit-outer-spin-button {
  -webkit-appearance: none;
          appearance: none;
}

.form .length .select-length .number-input-container {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin-left: 0.5rem;
}

.form .length .select-length .number-input-container #decrease {
  color: #ff193c;
  border-radius: 0 25px 25px 0;
  padding: 0.25rem 0.75rem 0.25rem 0.25rem;
}

.form .length .select-length .number-input-container #decrease:hover, .form .length .select-length .number-input-container #decrease:focus {
  font-weight: bold;
}

.form .length .select-length .number-input-container #increase {
  color: #2e6dff;
  border-radius: 25px 0 0 25px;
  padding: 0.25rem 0.25rem 0.25rem 0.75rem;
}

.form .length .select-length .number-input-container #increase:hover, .form .length .select-length .number-input-container #increase:focus {
  font-weight: bold;
}

.form .options {
  width: 90%;
}

.form .options > div {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 0.6rem;
}

.form .options > div input[type="checkbox"] {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.form label {
  font-weight: 500;
  letter-spacing: 1px;
}

.form .btn {
  width: 100%;
  padding: 0.5rem;
  border-radius: 3px;
  border: 0;
  outline: none;
  background: -webkit-gradient(linear, left top, right top, from(#f2709c), to(#ff9472));
  background: linear-gradient(to right, #f2709c, #ff9472);
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 20px;
  cursor: pointer;
}

.form .btn:hover {
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
  color: #6b6b6b;
}

@media screen and (max-width: 600px) {
  .length {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container .password-display .password {
    font-size: small;
    padding: 1rem 3rem 1rem 0.5rem;
  }
  .container .password-display .clipboard {
    width: 2.8rem;
  }
}
