body {
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $gradientSeven;
}

.spinner-btn {
  background-color: #fff;
  text-align: center;
  font-size: 1.2rem;
  border: 0;
  outline: none;
  cursor: pointer;
  font-family: "Roboto mono", monospace;
}
