$gradient_1: linear-gradient(to right, #1e3c72, #2a5298);
$gradient_2: linear-gradient(to right, #005c97, #363795);
$gradient_3: linear-gradient(to right, #2c3e50, #3498db);
$gradient_4: linear-gradient(to right, #ee9ca7, #ffdde1);
$gradient_5: linear-gradient(to right, #360033, #0b8793);
$gradient_6: linear-gradient(to right, #9796f0, #fbc7d4);
$gradient_7: linear-gradient(to right, #bbd2c5, #536976);
$gradient_8: linear-gradient(to right, #ec008c, #fc6767);
$gradient_9: linear-gradient(to right, #2b5876, #4e4376);
$gradient_10: linear-gradient(to right, #e52d27, #b31217);
$gradient_11: linear-gradient(to right, #16222a, #3a6073);
$gradient_12: linear-gradient(to right, #134e5e, #71b280);
$gradient_13: linear-gradient(to right, #085078, #85d8ce);
$gradient_14: linear-gradient(to right, #614385, #516395);
$gradient_15: linear-gradient(to right, #f2709c, #ff9472);
