$gradientOne: linear-gradient(to right, #1e3c72, #2a5298);
$gradientTwo: linear-gradient(to right, #005c97, #363795);
$gradientThree: linear-gradient(to right, #2c3e50, #3498db);
$gradientFour: linear-gradient(to right, #ee9ca7, #ffdde1);
$gradientFive: linear-gradient(to right, #360033, #0b8793);
$gradientSix: linear-gradient(to right, #9796f0, #fbc7d4);
$gradientSeven: linear-gradient(to right, #bbd2c5, #536976);
$gradientEight: linear-gradient(to right, #ec008c, #fc6767);
$gradientNine: linear-gradient(to right, #2b5876, #4e4376);
$gradientTen: linear-gradient(to right, #e52d27, #b31217);
$gradientEleven: linear-gradient(to right, #16222a, #3a6073);
$gradientTwelve: linear-gradient(to right, #134e5e, #71b280);
$gradientThirteen: linear-gradient(to right, #085078, #85d8ce);
$gradientFourteen: linear-gradient(to right, #614385, #516395);
$gradientFifteen: linear-gradient(to right, #f2709c, #ff9472);
$clrOne: hsl(279, 79%, 89%);
$clrTwo: hsl(333, 100%, 85%);
$clrThree: hsl(9, 100%, 81%);
$clrLightGrey: #6b6b6b;
$clrDarkGrey: #525252;
