@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Roboto+Mono:wght@300;400&display=swap");

@import "variables";
@import "reset";
@import "utilities";

.container {
  width: 95vw;
  max-width: 700px;
  border: 4px solid $clrThree;
  padding: 2rem;
  border-radius: 4px;
  background: $gradientEleven;
  color: white;
  box-shadow: 0 4px 10px $clrDarkGrey;

  h1 {
    text-align: center;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 1.85rem;
  }
  .password-display {
    width: 90%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem auto 1.5rem auto;
    border-radius: 2px;
    color: #333;
    position: relative;

    .password {
      height: 100%;
      width: 100%;
      padding: 1rem 4.25rem 1rem 1rem;
      border: 0;
      outline: none;
      font-family: "roboto mono", monospace;
      text-align: center;
      font-size: 1.25rem;
      border-radius: 3px;
    }

    .clipboard {
      position: absolute;
      right: 0%;
      bottom: 0%;
      height: 100%;
      width: 4rem;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      background-color: $clrFive;
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
    }

    .bi-clipboard-plus {
      color: $clrDarkGrey;
      font-size: 1.25rem;
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
      padding: 0.82rem;

      &:hover {
        color: $clrTwo;
      }
    }

    .clipboard::after,
    .clipboard::before {
      position: absolute;
      bottom: -0.35rem;
      transform: translateY(100%) scale(0);
      transition: 75ms transform;
      transform-origin: top center;
    }
    .clipboard::before {
      content: attr(data-tooltip);
      width: max-content;
      background-color: #fff;
      max-width: 100%;
      padding: 0.4rem;
      color: #333;
      font-size: 0.75rem;
      border-radius: 3px;
      text-align: center;
      letter-spacing: 1px;
    }
    .clipboard::after {
      content: "";
      border: 10px solid transparent;
      border-bottom-color: #fff;
      transform: translateY(0.1rem) scale(0);
    }
  }
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .length {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin-bottom: 0.8rem;
    font-size: 1.06rem;

    .select-length {
      display: flex;
      align-items: center;
      margin-left: 1rem;

      #character-amount-number {
        width: 2.2rem;
        margin-left: 3px;
      }
    }
  }
  .options {
    width: 90%;
  }
  .options > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.6rem;
  }
  label {
    font-weight: 500;
    letter-spacing: 1px;
  }
  .btn {
    width: 100%;
    padding: 0.5rem;
    border-radius: 3px;
    border: 0;
    outline: none;
    background: $gradientFifteen;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 20px;
    cursor: pointer;

    &:hover {
      transform: scale(0.99);
      color: $clrLightGrey;
    }
  }
}

@media screen and(max-width:600px) {
  .length {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .container {
    .password-display {
      .password {
        font-size: x-small;
        padding: 1rem 3.25rem 1rem 1rem;
      }

      .clipboard {
        width: 3rem;
      }
    }
  }
}
